.checkbox {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: all .2s ease-in-out;
  position: relative;
  color: var(--textDefault);
  cursor: pointer;
  padding: 2px;
  box-shadow: var(--shadow);
}

.checkbox.active {
  box-shadow: var(--insetShadow);
  color: var(--secondary);
}

.checkbox:hover {
  background: var(--hover);
}

.checked {
  background-color: var(--insetShadow) !important;
  &:hover {
    text-shadow: var(--textShadow);
  }
}

