.header {
  height: 100%;
  width: 100%;
  background: var(--bg);
  position: relative;

  position: relative;
  box-shadow: var(--shadow);
  z-index: 11;

  display: flex;
  /* justify-content: center; */
  align-items: center;

  .pop-con{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    app-button{
      display: block;
      font-size: 12px;
    }
    img{
      border-radius: 50%;
    }

    div{
      color: var(--default);
      text-align: center;
      font-size: 13px;
    }
  }

  .title {
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color: var(--default);
    display: flex;
    align-items: center;

    .logo{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  .title:hover{
    // text-shadow: var(--textShadow);
  }

  .tools {
    width: 30%;
    justify-self: flex-end;
    /* float: right; */
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: flex-end;

    app-button {
      margin-left: 20px;

      .avator{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}
