
:host(.active){
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    pointer-events: all;
    left: 0;
    background: #5a5a5a6b;
    transition: all .5s ease-in-out;

    .drawer{
        height: 100%;
        // box-shadow: var(--shadow);
        border-radius: 5px;
        padding: 20px;
        position: absolute;
        top: 0;
        right: 0;
        transition: all .5s ease-in-out;
        background-color: var(--bg);
    }
}

:host{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    .drawer{
        position: absolute;
        top: 0;
        right: -100%;
    }
}






