.select {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 12px;
  transition: all .2s ease-in-out;
  position: relative;
  box-shadow: var(--insetShadow);
  position: relative;

  .items {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    max-height: 200px;
    overflow: auto;
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    width: calc(100% - 0px);
    box-shadow: var(--shadow);
    border-radius: 5px;
    background: var(--bg);
    z-index: 10;
    // padding: 10px;
  }

  .items.active {
    opacity: 1;
    max-height: 200px;
    pointer-events: all;
    overflow: auto;
    width: calc(100% - 0px);
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    box-shadow: var(--shadow);
    border-radius: 5px;
    background: var(--bg);
    z-index: 10;

    .item {
      background: var(--bg);
      color: var(--default);
      height: 30px;
      line-height: 30px;
      padding-left: 10px;
      border-radius: 5px;

      &:hover {
        background: var(--bgHover);
        cursor: pointer;
        color: var(--primary);
        text-shadow: var(--textShadow);
      }
    }

    .item.current {
      color: var(--primary) !important;
      background: var(--bgHover);
      cursor: pointer;
      color: var(--primary);
      text-shadow: var(--textShadow);

    }
  }

  .value {
    outline: none;
    border: none;
    background: none;
    padding-left: 10px;
    caret-color: var(--primary);
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    cursor: pointer;
    color: var(--primary);
  }

  .btn {
    cursor: pointer;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top: 6px solid var(--primary);
    margin-right: 14px;
    margin-top: 5px;
  }
}


.select.disable {
  background: var(--disable);

  .value{
    color: var(--default) !important;
    cursor: not-allowed !important;
  }
}
