

.dashboard {
  width: 100%;
  padding-top: 20px;
  height: calc(100% - 50px);
  overflow: auto;
  display: flex;
  justify-content: space-around;
  // padding: 20px 20px;
  flex-wrap: wrap;

  .demo-chart{
    width: 400px;
    height: 300px;
  }
}
