<div class="dashboard">
  <app-card width="200px" height="200px">
    <div class="content">
      <img width="70px" height="70px" src="/assets/images/bill.png" alt="">
      <h4>材料</h4>
      <p>用于管理账单</p>
      <app-button width="70px" height="25px">
        <div class="open"><span>进入</span></div>
      </app-button>
    </div>
  </app-card>
  <app-card width="200px" height="200px">
    <div class="content">
      <img width="70px" height="70px" src="/assets/images/campus.png" alt="">
      <h4>学校</h4>
      <p>用于管理学校，可以增加，修改，删除学校</p>
      <app-button width="70px" height="25px" (handleClick)="onClick('/university')">
        <div class="open"><span>进入</span></div>
      </app-button>
    </div>
  </app-card>
  <app-card width="200px" height="200px">
    <div class="content">
      <img width="70px" height="70px" src="/assets/images/teacher.png" alt="">
      <h4>老师</h4>
      <p>用于管理老师，可以增加，修改，删除老师</p>
      <app-button width="70px" height="25px" (handleClick)="onClick('/teacher')">
        <div class="open"><span>进入</span></div>
      </app-button>
    </div>
  </app-card>
  <app-card width="200px" height="200px">
    <div class="content">
      <img width="70px" height="70px" src="/assets/images/student.png" alt="">
      <h4>学生</h4>
      <p>用于管理学生，可以增加，修改，删除学生</p>
      <app-button width="70px" height="25px" (handleClick)="onClick('/student')">
        <div class="open"><span>进入</span></div>
      </app-button>
    </div>
  </app-card>
  <app-card width="200px" height="200px">
    <div class="content">
      <img width="70px" height="70px" src="/assets/images/user.png" alt="">
      <h4>账号</h4>
      <p>用于管理账号</p>
      <app-button width="70px" height="25px" (handleClick)="onClick('/account')">
        <div class="open"><span>进入</span></div>
      </app-button>
    </div>
  </app-card>
  
</div>
  
