@media only screen and (max-width: 992px) {
  .dashboard {

    .count-con {
      width: 90% !important;
      margin-left: 0 !important;
      margin: 20px auto !important;
      float: none !important;
    }

    .chart-con {
      width: 90% !important;
      margin-left: 0 !important;
      margin: 20px auto !important;
      float: none !important;
      height: 300px !important;
      margin-bottom: 20px !important;
    }
  }
}


.dashboard {
  width: 100%;
  padding-top: 20px;
  overflow: hidden;

  .top{
    height: 100px;
    width: 100%;
  }

  .count-con {
    width: 22%;
    float: left;
    height: 100px;
    margin: 0.65%;
    border-radius: 5px;
    position: relative;
    color: #fff;
    box-shadow: var(--shadow);
  }

  span.total {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 18px;
  }

  span.pickedup {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 16px;
  }

  span.date {
    position: absolute;
    right: 20px;
    font-size: 10px;
    top: 15px;
  }

  span.unpickup {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
  }

  .count-con:nth-child(1) {
    background: #c067d0;
    margin-left: 4%;

  }

  .count-con:nth-child(2) {
    background: #03a9f4;
  }

  .count-con:nth-child(3) {
    background: #ffc107;
  }

  .count-con:nth-child(4) {
    background: #ff5722;
  }

  .chart-con {
    width: 44%;
    height: 300px;
    float: left;
    margin-top: 40px;
    box-shadow: var(--shadow);
    margin-left: 4%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px 0;

    h4 {
      height: 30px;
      font-size: 14px;
      line-height: 30px;
      text-align: center;
      color: var(--default);
    }

    .chart {
      width: 100%;
      height: calc(100% - 0px);
      float: left;
    }
  }
}
