<div class="login" [style.background-image]="'url(/assets/images/student.gif)'">
  <div class="s-img">

    <app-card slot="div" *ngIf="register">
      <div class="register-con">
        <h3>账单管理系统</h3>
        <app-input placeholder="用户名" width="250px" height="35px" (handleChange)="onNameChange($event)"></app-input>
        <app-input placeholder="密码" width="250px" height="35px" type="password"
          (handleChange)="onPasswordChange($event)"></app-input>
        <app-input placeholder="重复密码" width="250px" height="35px" type="password"
          (handleChange)="onPasswordChange($event)"></app-input>
        <app-input placeholder="邮箱" width="250px" height="35px" type="text" (handleChange)="onMailChange($event)">
        </app-input>
        <div class="verify">
          <app-input placeholder="验证码" width="150px" height="35px" type="text" (handleChange)="onChangeCode($event)">
          </app-input>
          <app-button class="get-code-btn" type="rect" width="80px" height="30px" (handleClick)="getVerifyCode($event)">
            验证码
          </app-button>
        </div>
        <app-button type="rect" width="250px" height="30px" (handleClick)="registerAccount($event)">
          注册
        </app-button>
        <div class="forgot" (click)="changeResister()">
          已有账号?前往登录
        </div>
      </div>
    </app-card>

    <app-card slot="div" *ngIf="!register">
      <div class="register-con">
        <h3>账单管理系统</h3>
        <div class="login-tabs">
          <app-tabs [active]="qr" (click)="changeQr()">微信登陆</app-tabs>
          <app-tabs [active]="!qr" (click)="changeQr()">账号密码登录</app-tabs>
        </div>
        <app-tab-panel [active]="qr">
          <div class="login-con" *ngIf="qr">
            <div class="qr">

            </div>
            <div class="quick-login">
              <div class="default">
                <app-checkbox (handleChange)="onRemeberChange($event)">
                  &nbsp;&nbsp;下次自动登录
                </app-checkbox>
              </div>
              <div (click)="changeResister()">
                注册新账号
              </div>
            </div>
          </div>
        </app-tab-panel>
        <app-tab-panel [active]="!qr">
          <div class="login-con" *ngIf="!qr">
            <app-input placeholder="用户名" width="250px" height="35px" (handleChange)="onNameChange($event)"></app-input>
            <app-input placeholder="密码" width="250px" height="35px" type="password"
              (handleChange)="onPasswordChange($event)"></app-input>
            <div class="auto-login">
              <app-checkbox (handleChange)="onRemeberChange($event)">
                &nbsp;&nbsp;下次自动登录
              </app-checkbox>
            </div>
            <app-button type="rect" width="250px" height="30px" (handleClick)="login($event)">
              登陆
            </app-button>
            <div class="quick-login">
              <div (click)="changeResister()">
                注册新账号
              </div>
              <div>
                忘了密码?
              </div>
            </div>
          </div>
        </app-tab-panel>
      </div>
    </app-card>
    <app-message position="top right" #message></app-message>
  </div>
  <div class="loading" *ngIf="loading">
    <app-loading></app-loading>
  </div>
</div>
