.pagination {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .page{
    color: var(--secondary);
    font-size: 12px;
  }

  .disabled{
    cursor: not-allowed !important;
    color: #b1b1b1 !important;

    &:hover{
      background: var(--primary) !important;
      text-shadow: none !important;
    }
  }

  .prev, .next {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--secondary);
    margin-left: 10px;
    margin-right: 10px;

    &:hover{
      background: var(--hover);
      text-shadow: var(--textShadow);
    }
  }
  
  
  .prev.active, .next.active {
      box-shadow: var(--insetShadow);
  }
}
