<div class="pagination">
    <div class="prev" (click)="callback($event, false)" [class.disabled]="current === 0">
        <i class="material-icons-round">
            navigate_before
        </i>
    </div>
    <div class="page">
        {{current * limit + 1}}-{{((current + 1) * limit) > total ? total : (current + 1) * limit}} / {{total}}
    </div>
    <div class="next" (click)="callback($event, true)" [class.disabled]="current + 1 >= maxPage">
        <i class="material-icons-round">
            navigate_next
        </i>
    </div>
</div>