<div class="material">
  <app-card>
    <div class="uni-con">
      <!-- <h1>老师列表</h1> -->
      <app-bread-crumbs [items]="navNameArr" [path]="navPathArr"></app-bread-crumbs>
      <div class="search">
        <app-input placeholder="搜索样品内容" height="30px" width="200px" (handleChange)="changeSearchWord($event)">
        </app-input>
        <app-button color="primary" height="25px" width="30px">
          <i class="material-icons-round">search</i>
        </app-button>
        <app-button color="primary" class="create" height="25px" width="30px" (click)="addRow()">
          <i class="material-icons-round">add</i>
        </app-button>
        <app-button color="primary" *ngIf="user && user.auth === 0" class="download" height="25px" width="30px" (click)="openDownload()">
          <i class="material-icons-round">download</i>
        </app-button>
      </div>
      <br>
      <app-table (saveUpdate)="updatePrice($event)" [asc]="asc" [sortKey]="sortKey" [data]="list" [colums]="colums" [keys]="keys"
        (handleSort)="changeSortKey($event)" (undoPickup)="undoPickup($event)" (pickupMat)="pickupMat($event)" (handleEdit)="editRow($event)" (handleDelete)="deleteRow($event)">
      </app-table>

      <app-pagination (handleChange)="pageChange($event)" [total]="totalRecords" [current]="index" [limit]="total">
      </app-pagination>
    </div>
  </app-card>
  <app-message [delay]="5000" position="top right" #message></app-message>
  <!-- <app-message [showUndo]="true" (undoHandle)="undoPickup()" [delay]="5000" position="top right" #messagePickup></app-message> -->
  <app-drawer [class.active]="drawer" width="30%" height="350px">
    <div class="title">
      {{title}}
      <app-button type="circle" width="25px" height="25px" (click)="close()">
        <i class="material-icons-round">close</i>
      </app-button>
    </div>
    <div class="edit-con" *ngIf="current">
      <div class="key">样品内容</div>
      <!-- <app-textarea></app-textarea> -->
      <app-textarea [value]="current.content" width="calc(100% - 20px)" height="60px" (handleChange)="changeContent($event)"></app-textarea>
      <div class="key">手机号</div>
      <app-input [value]="current.phone" width="100%" (handleChange)="changePhone($event)"></app-input>
      <div class="key">学生姓名</div>
      <app-input [disabled]="true" [value]="getStudentName()" width="100%" (handleChange)="changeName($event)"></app-input>
      <div class="key">所属学校</div>
      <app-select [disabled]="true" width="100%" [items]="[]" [value]="getUniName()" (handleChange)="changeUni($event)">
      </app-select>
      <div class="key">所属老师</div>
      <app-select [disabled]="true" width="100%" [items]="teaArr" [value]="getTeacherName()" (handleChange)="changeTeacher($event)">
      </app-select>
      <div class="key" *ngIf="user && user.auth === 0">价格</div>
      <app-input  *ngIf="user && user.auth === 0" [value]="current.price" width="100%" (handleChange)="changePrice($event)"></app-input>
      <br>
      <app-button color="primary" width="100%" height="30px" (click)="submit()">提交</app-button>
    </div>
  </app-drawer>
  <app-dialog #dialogRef width="300px" height="150px">
    <div class="dialog-con">
      <h4>删除材料</h4>
      <p *ngIf="current">请确定是否删除材料: <span class="name">{{current.content}}</span></p>
      <div>
        <app-button width="60px" height="25px" color="secondary" (click)="confirmDelete()">删除</app-button>
      <app-button width="60px" height="25px" color="default" (click)="closeDialog()">返回</app-button>
      </div>
    </div>
  </app-dialog>
  <app-dialog #downloadDialogRef width="400px" height="450px">
    <div class="download-dialog-con">
      <h4>下载报告</h4>
      <div>
        <span>创建时间:</span>
        <span><input type="date" [value]="downloadDate" (change)="changeDownloadDate($event)"/></span>
      </div>
      <div>
        <span>是否取走</span>
        <span>
          <app-select (handleChange)="changeDownloadType($event)" width="100%" [items]="['未取走', '已取走', '全部']" [value]="downloadType"></app-select>
        </span>
      </div>
      <div class="actions">
        <app-button width="60px" height="25px" color="primary" (click)="download()">下载</app-button>
        <app-button width="60px" height="25px" color="default" (click)="closeDownloadDialog()">返回</app-button>
      </div>
    </div>
  </app-dialog>
</div>
