




.btn-rect {
  min-width: 40px;
  position: relative;
  border-radius: 18px;
  padding: 2px;
  display: grid;
  place-items: center;
  box-shadow: var(--shadow);
  color: var(--secondary);
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  text-shadow: none;

}

.btn-rect:hover {
  background: var(--hover);
  text-shadow: var(--textShadow);
  
}


.btn-rect.active {
    box-shadow: var(--insetShadow);
}


.btn-circle {
  position: relative;
  border-radius: 50%;
  padding: 2px;
  display: grid;
  place-items: center;
  box-shadow: var(--shadow);
  color: var(--secondary);
  cursor: pointer;
  transition: all .2s ease-in-out;
  text-shadow: none;

}

.btn-circle:hover {
  background: var(--hover);
  text-shadow: var(--textShadow);
  
}


.btn-circle.active {
    box-shadow: var(--insetShadow);
}
