




.btn-rect {
  min-width: 40px;
  // position: relative;
  border-radius: 18px;
  padding: 2px;
  display: grid;
  place-items: center;
  box-shadow: var(--shadow);
  color: var(--primary);
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  text-shadow: none;
  user-select: none;
  font-size: 12px;

  &:hover{
    background: var(--bgHover);
    text-shadow: var(--textShadow);
  }
}

.default{
  color: var(--default) !important;

  &:hover{
    text-shadow: none !important;
  }
}

.primary{
  color: var(--primary) !important;

  &:hover{
    text-shadow: none !important;
  }
}

.secondary{
  color: var(--secondary) !important;
}

.btn-rect.active {
    box-shadow: var(--insetShadow);
}


.btn-circle {
  // position: relative;
  border-radius: 50%;
  padding: 2px;
  display: grid;
  place-items: center;
  box-shadow: var(--shadow);
  color: var(--primary);
  cursor: pointer;
  transition: all .2s ease-in-out;
  text-shadow: none;
  user-select: none;
  font-size: 12px;
}

.btn-circle:hover {
  background: var(--bgHover);
  text-shadow: var(--textShadow);
  
}


.btn-circle.active {
    box-shadow: var(--insetShadow);
}



