.home {
  width: 100%;
  height: 100%;
  // overflow: auto;

  .header {
    height: 50px;
  }

  .main {
    height: calc(100% - 50px);

    .right {
      width: calc(100% - 140px);
      float: right;
      height: 100%;
      overflow: auto;
    }
  }
}

@media only screen and (max-width: 992px) {
  .home {
    .main {
      .right {
        width: calc(100% - 50px) !important;
      }
    }
  }
}
