.account {
  width: 90%;
  height: 100%;
  margin: 20px auto;

  app-card {
    width: 100%;
    height: 100%;

    .content {
      width: 100%;
      height: 100%;
      padding: 20px;

      .detail {
        width: 100%;
        height: 100%;

        .key {
          color: var(--default);
          margin: 0 auto;
          margin-top: 20px;
          font-size: 12px;
        }

        .value {
          margin: 0 auto;
          margin-top: 10px;
        }
      }
    }
  }
}
