/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Material+Icons+Round');

html,body{
    height: 100%;
    width: 100%;
    background: var(--primary);
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
}

// update

:root{
    --primary: #18191f;
    --secondary: #5FBAF2;
    --shadow: 3px 3px 5px #020202, -3px -3px 5px #23252d, -3px -3px 3px #23252d;
    --textShadow: 0 0 3px #5FBAF2;
    --insetShadow: inset 3px 3px 5px #020202, inset -3px -3px 5px #23252d, inset -3px -3px 3px #23252d,
    1px 1px 1px 0 rgba(0, 0, 0, 2);
    --hover: #141419;
    --textDefault: gray;
}


// current

// :root{
//     --bg: #3a3a3a;
//     --primary: #D4E0ED;
//     --secondary: #32a3b1;
//     --shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF;
// }


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--textDefault); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary); 
  }