/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Material+Icons+Round');

html,body{
    height: 100%;
    width: 100%;
    background: var(--primary);
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
}

:root{
    --primary: #D4E0ED;
    --secondary: #32a3b1;
}