.table {
    width: 100%;
    height: 100%;
  // display: flex;
  // // padding: 0 30px;
  // justify-content: center;
  // align-items: center;

  .no-data {
    height: 100px;
    color: var(--default);
    font-size: 12px;
    width: 100%;
    text-align: center;
    line-height: 100px;
  }

  .table-con {
    width: 100%;
    height: 100%;

    .asc i {
      color: var(--primary);
      font-size: 15px;
    }

    .action {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      app-button {
        margin-left: 10px;

        i {
          font-size: 15px;
        }
      }
    }

    .thead {
      // box-shadow: var(--shadow);
      width: 100%;

      .tr {
        width: 100%;
        display: flex;

        .th {
          font-weight: bold;
          // padding: 4px 8px;
          /* padding-left: 42px; */
          text-align: left; //   width: 30%;
          border-bottom: 1px solid var(--disable);
          cursor: pointer;
          flex: 1;
          padding: 4px 0px;
          line-height: 30px;

          &.action-btn {
            width: 100px !important;
            text-align: right !important;
          }
        }

        .th.hide{
          display: none;
        }

        .th.headerSortUp,
        .th.headerSortDown {
          background: #acc8dd;
        }

        span {
          // padding-right: 20px;
          // background-repeat: no-repeat;
          // background-position: 100% 100%;
          color: var(--default);
          font-weight: bold;
          font-size: 15px;
          text-align: center;
          // padding: 5px;
          // display: inline-block;
        }
      }

    }

      .tbody {
        width: 100%;
        .tr {
          width: 100%;
          display: flex;
          color: var(--default); //   box-shadow: var(--shadow);
          // color: transparent;
          // background-color: #354148;
          // background-color: #61696e;
          // text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
          // -webkit-background-clip: text;
          // font-weight: bold;
          font-size: 12px;
          text-align: center;
          // padding: 5px;
          // margin-top: 10px;

          &:hover {
            color: var(--primary);
            text-shadow: var(--textShadow);
            // background: var(--bgHover);
          }

          .td {
            text-align: left;
            padding: 4px 0px;
            border-bottom: 1px solid var(--disable);
            flex: 1;
            line-height: 30px;

            .pickup{
              cursor: pointer;
              // text-decoration: underline;
              color: var(--secondary);

              &:hover{
                text-decoration: underline;
              }
            }
          }

          .td.hide{
            display: none;
          }

          .td.lalign {
            text-align: left;
          }

          .td.action {
            display: flex;

            app-button {
              margin-left: 5px;
            }
          }
        }
      }
    }

}
