<div class="table">
  <div class="no-data" *ngIf="list.length === 0">
    没有数据
  </div>
  <div class="table-con" *ngIf="list.length > 0">
    <div class="thead">
      <div class="tr">
        <div class="th" [class.hide]="i === 0" *ngFor="let name of colums; let i = index" (click)="sortBack(keys[i])">
          <span>{{name}}</span>
          <span *ngIf="keys[i].replace('Str', '') === sortKey" class="asc">
            <i class="material-icons-round" *ngIf="asc === 1">
              arrow_upward
            </i>
            <i class="material-icons-round" *ngIf="asc === -1">
              arrow_downward
            </i>
          </span>
        </div>
        <div class="action-btn th" *ngIf="user && user.auth === 0 && (edit || delete)">
          <span>操作</span>
        </div>
      </div>
    </div>
    <div class="tbody">
      <div class="tr" *ngFor="let item of list; let a = index;">
        <span class="td" *ngFor="let name of item; let i = index" [class.hide]="i === 0">
          <span  *ngIf="colums[i] === '取走时间'">
            <span class="pickup-con" *ngIf="name" [title]="name">{{name}}<span class="undo" (click)="undo(item)">撤销</span></span>
            <span class="pickup" *ngIf="!name" (click)="pickup(item)">取走</span>
          </span>
          <app-input (handleChange)="changePrice($event)" [value]="name" [disabled]="a !== editIndex" *ngIf="colums[i] === '价格'" [title]="name" class="price" (dblclick)="editPriceDblClick(item)" (click)="editPriceClick($event)">{{name}}</app-input>
          <span *ngIf="colums[i] === '创建时间'" [title]="name">{{name}}</span>
          <span *ngIf="colums[i] !== '取走时间' && colums[i] !== '创建时间' && colums[i] !== '价格'">{{name}}</span>
        </span>
        <span class="td action-btn" *ngIf="user && user.auth === 0 && (edit || delete)">
          <span class="action">
            <app-button  (click)="editRow(item)" size="small" width="20px" height="20px" *ngIf="edit">
              <i class="material-icons-round">edit</i>
            </app-button>
            <app-button (click)="deleteRow(item)" width="20px" height="20px" *ngIf="delete">
              <i class="material-icons-round">delete</i>
            </app-button>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
