<div class="university">
  <app-card width="100%" height="100%">
    <div class="uni-con">
      <app-bread-crumbs [items]="navNameArr" [path]="navPathArr"></app-bread-crumbs>
      <!-- <h1>学校列表</h1> -->
    <div class="search">
      <app-input placeholder="搜索学校名称、地址" width="200px" (handleChange)="changeSearchWord($event)"></app-input>
      <app-button height="30px" width="30px">
        <i class="material-icons-round">search</i>
      </app-button>
      <app-button class="create" height="30px" width="30px" (click)="addRow()">
        <i class="material-icons-round">add</i>
      </app-button>
    </div>

    <app-table [sortKey]="sortKey" [asc]="asc" (handleSort)="changeSortKey($event)" [data]="list" [colums]="colums" [keys]="keys" (handleEdit)="editRow($event)" (handleDelete)="deleteRow($event)"></app-table>

    <app-pagination (handleChange)="pageChange($event)" [total]="totalRecords" [current]="index" [limit]="total"></app-pagination>
    </div>
  </app-card>
  <app-message position="top right" #message></app-message>
  <app-drawer [class.active]="drawer" width="30%" height="300px">
    <div class="title">
      {{title}}
      <app-button type="circle" width="30px" height="30px" (click)="close()">
        <i class="material-icons-round">close</i>
      </app-button>
    </div>
    <div class="edit-con" *ngIf="current">
      <div class="key">学校名称</div>
      <app-input [value]="current.name" width="100%" (handleChange)="changeName($event)"></app-input>
      <div class="key">学校地址</div>
      <app-input [value]="current.address" width="100%" (handleChange)="changeAddress($event)"></app-input>
      <br>
      <app-button width="100%" height="30px" (click)="submit()">提交</app-button>
    </div>
  </app-drawer>
</div>
